.employeeListingContainer {
  margin: 20px auto;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;

  svg {
    cursor: pointer;
  }
}
