.formContainer {
  min-height: 70vh;
  width: 600px;
  margin: 20px auto;
  padding: 10px 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;

  .inputGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 20px 0;
    width: 100%;
    font-size: 14px;

    & input {
      width: 85%;
    }
  }

  .formButtons {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.skillInputWrapper {
  max-width: 60%;
  margin: 0 auto;
}
